.CaseDiv {
    max-width:372px;
    width: 100%;
    margin-bottom:32px;
    cursor: pointer;

    @media only screen and (min-width:800px) {
        margin-bottom: 56px;
    }
}

.Case {
    width:100%;
    max-width:372px;
    height: 304px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    transition: 0.8s;
}

.Case img {
    position: absolute;
    top:0px;
    height: 110%;
    transition: 0.8s;

    @media only screen and (min-width: 800px) {
        opacity:.85;
    }
}

.CaseDiv:hover .Case {

    @media only screen and (min-width:800px) {
        transform: scale(1.01,1.01);
        box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    }
}

.CaseDiv:hover img {

    @media only screen and (min-width:800px) {
        transform: translateY(-20px);
        opacity:1;
    }
}
