body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0;
}

a {
  font-family: 'Playfair Display, serif';
  color: #162BF4;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-style: italic;
}

a:hover {
  color: #0417C5;
}

.Hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* Form */

.Form {
  display:flex;
  flex-direction:column;
  width:100%;
}

.Form

.Form-label {
  opacity:0;
}

.Form-field {
  width:99.5%;
  font-size:16px;
  font-family: 'Playfair Display', serif;
  outline: none;
  border:none;
  border-bottom: 1px solid #B9B9B9;
  padding-bottom:8px;
  margin-bottom:24px;
}

.Form-field::placeholder {
  color:#B9B9B9;
}

.Form-name {
  
}

.Form-email {

}

.Form-social svg {
  fill:#B9B9B9;
}

.Form-button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 16px;
    padding: 12px;
    color: #fff;
    font-weight: 800;
    background-color: #162BF4;
    position: relative;
    opacity:.2;
    width:100%;
}

.Hero svg {
  display:none;  

  @media only screen and (min-height: 568px) {
    display: flex;
    position: absolute;
    width: 90%;
    top: -150px;
  }

  @media only screen and (min-width: 500px) {
    top: 0vh;
    width: 130%;
  }

  @media only screen and (min-width: 1440px) and (min-height:728px) {
    top: 32px;
  }

  @media only screen and (min-height:1024px) {
    width:150%;
    top: 140px;
  }
}
