body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: 0;
}

a {
  font-family: 'Playfair Display, serif';
  color: #162BF4;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  font-style: italic;
}

a:hover {
  color: #0417C5;
}

.Hero {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Hero svg {
  display:none;  

  @media only screen and (min-height: 568px) {
    display: flex;
    position: absolute;
    width: 90%;
    top: -150px;
  }

  @media only screen and (min-width: 500px) {
    top: 0vh;
    width: 130%;
  }

  @media only screen and (min-width: 1440px) and (min-height:728px) {
    top: 32px;
  }

  @media only screen and (min-height:1024px) {
    width:150%;
    top: 140px;
  }
}
